@import "base";
@import "content-page";
@import "nav-page";

.main {

  >header {

    &.open {
      left: $nav-width;
    }

    @include nav-header;
    background: white;

  }

  >nav {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $nav-width;

    background: gainsboro;

  }

  >section {

    @include box-shadow(0 0 10px 5px rgba(#000,.2));
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: whitesmoke;

    &.open {
      left: $nav-width;
    }

  }


}


