/* line 1, ../sass/commune-page.scss */
.commune-page {
  /*.svgPie{*/
  /*position: absolute;*/
  /*}*/
  /*g:hover path{*/
  /*fill: rgba(256, 0, 0, 0.6);*/
  /*}*/
}
/* line 3, ../sass/commune-page.scss */
.commune-page .commune-svg {
  height: 300px;
  margin: 40px 0;
}
/* line 9, ../sass/commune-page.scss */
.commune-page i {
  font-size: 30px;
}
/* line 24, ../sass/commune-page.scss */
.commune-page h2, .commune-page h4 {
  margin-top: 0;
}
/* line 29, ../sass/commune-page.scss */
.commune-page .bar-graph {
  background: royalblue;
  height: 40px;
}
/* line 36, ../sass/commune-page.scss */
.commune-page .middle-text h4 {
  margin-top: 10px;
  margin-bottom: 0;
}
/* line 43, ../sass/commune-page.scss */
.commune-page .bv-count {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 150px;
}
/* line 50, ../sass/commune-page.scss */
.commune-page .bv-count h1 {
  margin-bottom: 0;
}
/* line 58, ../sass/commune-page.scss */
.commune-page .pie-menu {
  position: absolute;
  margin-top: -200px;
  margin-left: -200px;
  z-index: 1000;
}
/* line 70, ../sass/commune-page.scss */
.commune-page g text {
  fill: white;
  pointer-events: none;
  text-shadow: 1px 1px #000;
}
/* line 76, ../sass/commune-page.scss */
.commune-page path {
  cursor: pointer;
  fill: rgba(255, 0, 0, 0.2);
  stroke: rgba(255, 0, 0, 0.2);
}
/* line 87, ../sass/commune-page.scss */
.commune-page path:hover {
  fill: rgba(255, 0, 0, 0.6);
}
