/* line 7, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/base.scss */
a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

/* line 18, ../sass/base.scss */
body, html {
  background: #999;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 88, ../sass/base.scss */
.slide-left-enter, .slide-left-leave, .slide-right-enter, .slide-right-leave {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 100, ../sass/base.scss */
.slide-left-enter {
  opacity: 0;
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 105, ../sass/base.scss */
.slide-left-enter-active {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 110, ../sass/base.scss */
.slide-left-leave {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 115, ../sass/base.scss */
.slide-left-leave-active {
  opacity: 0;
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 122, ../sass/base.scss */
.slide-right-enter {
  opacity: 0;
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 127, ../sass/base.scss */
.slide-right-enter-active {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 132, ../sass/base.scss */
.slide-right-leave {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 137, ../sass/base.scss */
.slide-right-leave-active {
  opacity: 0;
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 3, ../sass/content-page.scss */
.content-page {
  margin-top: 50px;
  -webkit-transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
}

/* line 3, ../sass/nav-page.scss */
.nav-page > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #f5f5f5;
}
/* line 34, ../sass/base.scss */
.nav-page > header button {
  margin: 2px;
  border-color: transparent !important;
  background-color: transparent !important;
  position: absolute;
}
/* line 40, ../sass/base.scss */
.nav-page > header button.btn-header-left {
  left: 0;
}
/* line 44, ../sass/base.scss */
.nav-page > header button.btn-header-right {
  right: 0;
}
/* line 49, ../sass/base.scss */
.nav-page > header h1 {
  text-align: center;
  margin: 3px 0;
}
/* line 8, ../sass/nav-page.scss */
.nav-page > header h1 {
  font-size: 20px;
  margin: 12px;
}
/* line 15, ../sass/nav-page.scss */
.nav-page > section {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 21, ../sass/nav-page.scss */
.nav-page > section > ul {
  list-style-type: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin-top: 50px;
}
/* line 71, ../sass/base.scss */
.nav-page > section > ul > li > div {
  padding: 20px;
  background: #eee;
  border-top: solid 1px #E2E2E2;
}
/* line 77, ../sass/base.scss */
.nav-page > section > ul > li > div.active {
  background: royalblue;
  color: #ffffff;
}
/* line 25, ../sass/nav-page.scss */
.nav-page > section > ul li {
  position: relative;
}
/* line 28, ../sass/nav-page.scss */
.nav-page > section > ul li > div {
  padding: 15px 20px;
}
/* line 34, ../sass/nav-page.scss */
.nav-page > section > ul li button {
  position: absolute;
  right: 5px;
  top: 2px;
}

/* line 7, ../sass/screen.scss */
.main > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: white;
}
/* line 9, ../sass/screen.scss */
.main > header.open {
  left: 300px;
}
/* line 34, ../sass/base.scss */
.main > header button {
  margin: 2px;
  border-color: transparent !important;
  background-color: transparent !important;
  position: absolute;
}
/* line 40, ../sass/base.scss */
.main > header button.btn-header-left {
  left: 0;
}
/* line 44, ../sass/base.scss */
.main > header button.btn-header-right {
  right: 0;
}
/* line 49, ../sass/base.scss */
.main > header h1 {
  text-align: center;
  margin: 3px 0;
}
/* line 18, ../sass/screen.scss */
.main > nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: gainsboro;
}
/* line 30, ../sass/screen.scss */
.main > section {
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 400px;
}
/* line 44, ../sass/screen.scss */
.main > section.open {
  left: 300px;
}
