/* line 13, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/base.scss */
a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

/* line 26, ../sass/base.scss */
body, html {
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 3, ../sass/content-page.scss */
.content-page {
  margin-top: 50px;
}

/* line 3, ../sass/nav-page.scss */
.nav-page > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #f5f5f5;
}
/* line 43, ../sass/base.scss */
.nav-page > header button {
  margin: 2px;
  border-color: transparent !important;
  background-color: transparent !important;
  position: absolute;
}
/* line 49, ../sass/base.scss */
.nav-page > header button.btn-header-left {
  left: 0;
}
/* line 53, ../sass/base.scss */
.nav-page > header button.btn-header-right {
  right: 0;
}
/* line 58, ../sass/base.scss */
.nav-page > header h1 {
  text-align: center;
  margin: 3px 0;
}
/* line 8, ../sass/nav-page.scss */
.nav-page > header h1 {
  font-size: 20px;
  margin: 12px;
}
/* line 17, ../sass/nav-page.scss */
.nav-page > section > ul {
  list-style-type: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin-top: 50px;
}
/* line 78, ../sass/base.scss */
.nav-page > section > ul > li {
  padding: 20px;
  background: #eee;
  border-bottom: solid 1px #F1F1F1;
  border-top: solid 1px #E2E2E2;
}
/* line 84, ../sass/base.scss */
.nav-page > section > ul > li.active {
  background: royalblue;
  color: #ffffff;
}

/* line 7, ../sass/screen.scss */
.main > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: white;
}
/* line 9, ../sass/screen.scss */
.main > header.open {
  left: 300px;
}
/* line 43, ../sass/base.scss */
.main > header button {
  margin: 2px;
  border-color: transparent !important;
  background-color: transparent !important;
  position: absolute;
}
/* line 49, ../sass/base.scss */
.main > header button.btn-header-left {
  left: 0;
}
/* line 53, ../sass/base.scss */
.main > header button.btn-header-right {
  right: 0;
}
/* line 58, ../sass/base.scss */
.main > header h1 {
  text-align: center;
  margin: 3px 0;
}
/* line 18, ../sass/screen.scss */
.main > nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: gainsboro;
}
/* line 30, ../sass/screen.scss */
.main > section {
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: whitesmoke;
}
/* line 42, ../sass/screen.scss */
.main > section.open {
  left: 300px;
}
